/* * {
    border: 1px solid black;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solig gray;
    box-shadow: 0 2px 15px 0px lightgrey;
}

header #logo {
    height: 100%;
    width: auto;
}

header>.container {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}

header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    height: 100%;
}

header ul>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header ul>li>a {
    text-decoration: none;
    color: black;
    position: relative;
    font-family: 'Balsamiq Sans';
}

header ul>li>a::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid black;
    width: 0;
    bottom: 0;
    left: 50%;
}

header ul>li>a:hover{
    /* text-decoration: underline; */
    color: orange;
    /* font-size: 20px;
    transition: font-size cubic-bezier(.57,1.49,0,1.79) 2s; */
}

header ul>li>a:hover::after
{ 
    left: 0;
    border-color: orange;
    width: 100%;
    transition: all linear 0.5s;
}

main {
    padding-top: 100px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery a{
    width: 25%;
}

#gallery a img {
    width: 100%;
}