/* un commentaire css */

/*
selecteur {
    propriété: valeur;
    ...
}    
*/

#monId {
    color: seagreen;
}

.blue {
    color: royalblue;
}

p, h2 {
    color: red;
    font-size: 24px;
}

.maTable td {
    color: skyblue;
}

.list>li {
    border: 1px solid black;
}

.maClass2~p{
    color: blueviolet;
}

/* ol>li:nth-child(3n + 1) {
    color: brown;
} */

ol>li:nth-child(3n + 7) {
    color: crimson;
}

