@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    font-size: 14px;
}

div:first-child{
    font-size: 20px;
}

div {
    font-size: 10px;
}

p{
    color: rgb(255,0,0);
    color: #FF0000;
    color: red;
    font-size: 2rem;
    text-align: justify;
    text-decoration: line-through;
    font-style: italic;
    font-weight: 100;
    font-family: 'Dancing Script', cursive;
}

a {
    text-align: right;
    color: tomato;
}